# Written by kantainer from the operator's configuration file. Edits here are
# replaced the next time the machine is installed.
[connection]
id=kantainer-wireless
type=wifi
autoconnect=true

[wifi]
mode=infrastructure
ssid=@@SSID@@

[wifi-security]
key-mgmt=wpa-psk
psk=@@PSK@@

[ipv4]
method=auto

[ipv6]
method=auto
